@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <h3 class="text-center text-danger">Same email id exists in the system. Use another email id.</h3>

    @Html.ActionLink("Back to Registration", "Create")

}


