body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family:Raleway;
    /*background-image: url("../Images/Main.jpg")*/
    /*background-image:url("")*/
}

.img-rounded{
    border-radius:5%;
}

h1{
    font-family:Poppins;
}
h2{
    font-family:Poppins;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.parallax {
    /* The image used */
    background-image: url("../Images/Red.jpeg");
    /* Set a specific height */
    height: 500px;
    margin:0;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}