@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    iGarage inc.<br />
 Stockholm, Sweden.<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href=#>Support@example.com</a><br />
    <strong>Marketing:</strong> <a href=#>Marketing@example.com</a>
</address>