@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<h3></h3>

<address>
    iGarage<br />
  Liljeholmen, Stockholm,Sweden<br />
    <abbr title="Phone">P:</abbr>
    077-777-7777
</address>

<address>
    <strong>Support:</strong>   <a href="">Support@iGarage.com</a><br />
    <strong>Marketing:</strong> <a href="">Marketing@iGarage.com</a>
</address>