@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class=" col-lg-12">
        @*<div class="col-md-4">*@

            <div class="parallax"></div>

            <h1>Welcome to iGarage</h1>
            <p class="lead">To the world's best garage where you can enjoy free Breakfast <i style="font-size:16px;color:#ff0000">from 5:00 am till 10:00 am</i>, free  Lunch <i style="font-size:16px;color:#ff0000"> 12:00 pm till 4:00 pm</i>. </p>
            @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
        </div></div>

        <div class="row">
            <div class=" col-lg-12">
                <div class="col-md-4">
                    <h2>Discount</h2>
                    <p>
                        Special discount for vehicles parked for more than 2 days.
                    </p>
                    <p>@*<a class="btn btn-default" href="">Learn more &raquo;</a>*@</p>
                </div>
                <div class="col-md-4">
                    <h2>Airplane (special offer)</h2>
                    <p>If you park your airplane you get a special discounted price of kr. 200 per hour. <i style="font-size:10px">Old price kr.400 per hour.</i></p>
                    <p>@*<a class="btn btn-default" href="">Learn more &raquo;</a>*@</p>
                </div>
                <div class="col-md-4">
                    <h2>Free wash & servicing</h2>
                    <p>We offer free wash and servicing <br />for your vehicle</p>
                    @*<p><a class="btn btn-default" href="">Learn more &raquo;</a></p>*@
                </div>
                <div>
                </div>

            </div>
        </div>
